node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env
.env.local
.env.*.local
.monitor
config/env/env.json
Makefile
.DS_Store
.env
data
.dockerignore
docker-compose.override.yml
.kube/
.kubectl/
minikube/